<template>
  <div id="app" class="app">
    <div
      v-for="data in datas"
      :key="data.id"
      :id="data.name"
      class="cell"
      @dragenter.prevent
      @dragend="handleDragend"
      @drop.prevent="handleDrop"
      @dragleave="handleDragleave"
      @dragover.prevent="handleDragover">
      <div
        v-if="data.id % 2"
        draggable="true"
        class="dragable"
        :id="`inner-cell-${data.id}`"
        @dragstart="handleDragstart($event, data)">
       {{ data.name }}
      </div>
    </div>
    <div class="pepino" />
  </div>
</template>

<script>
/*
 * Biblio:
 * https://jsfiddle.net/radonirinamaminiaina/zfnj5rv4/
 * https://developer.mozilla.org/en-US/docs/Web/API/DragEvent
 * https://learnvue.co/2020/01/how-to-add-drag-and-drop-to-your-vuejs-project/
 * https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
 */
export default {
  name: 'App',
  data() {
    return {
      datas: Array.from({ length: 65 * 19 }, (k, i) => ({
        id: i,
        name: `cell-${i}`,
        text: `${i} lore ipsum mako paco ${Math.random(i + 0) + 0}`,
      })),
      draggedEl: null,
      gosth: null,
    };
  },
  /*
   * Al mover yo haria una combinacion de una linea
   * vertical para ver en que hora acaba el drop y una resaltado de celda
   */
  methods: {
    handleDragstart(ev, data) {
      ev.dataTransfer.dropEffect = 'move';
      ev.dataTransfer.effectAllowed = 'move';
      ev.dataTransfer.setData('dataId', data.id);
      ev.target.style.filter = 'brightness(0.5)';
      this.draggedEl = ev.target;
      this.gosth = this.$el.querySelector('.pepino');
    },
    handleDrop(ev) {
      this.gosth.style.display = 'none';
      ev.target.style.background = '';
      this.draggedEl.style.filter = 'brightness(1)';
      if (ev.target.className !== 'cell') return;
      const dataId = ev.dataTransfer.getData('dataId');
      const data = this.datas.find((d) => d.id === Number(dataId));
      console.log('drop', ev.target.id, data);
      this.draggedEl.parentNode.removeChild(this.draggedEl);
      ev.target.appendChild(this.draggedEl);
      this.draggedEl = null;
    },
    handleDragover(ev) {
      // console.log('drag-over', ev);
      if (ev.target.className !== 'cell') return;
      this.gosth.style.display = 'block';
      ev.target.style.background = 'red';
      function step(x, y, h) {
        this.gosth.style.height = `${h}px`;
        this.gosth.style.left = `${x}px`;
        this.gosth.style.top = `${0}px`;
      }
      window.requestAnimationFrame(step.bind(this, ev.clientX, ev.clientY - 24, ev.clientY - 24));
    },
    handleDragend(ev) {
      // console.log('drag-end', ev.target.id);
      // ev.target.style.background = '';
    },
    handleDragleave(ev) {
      // console.log('drag-leave', ev.target.id);
      ev.target.style.background = '';
      this.gosth.style.display = 'none';
    },
  },
};
</script>

<style lang="scss" scoped>
.app {
  display: grid;
  grid-template-columns: repeat(19, 5rem);
  grid-template-rows: repeat(65, 3rem);
  grid-gap: .4rem;
  font-family: 'Courier New', Courier, monospace;
  height: 700px;
  width: 800px;
  overflow: auto;
}
.cell {
  background: white;
  border: dashed 1px;
}
.dragable {
  width: 5rem;
  height: 1.5rem;
  background: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
  &:active {
    cursor: grabbing;
  }
}
.pepino {
  width: 2px;
  height: 10px;
  background: black;
  position: absolute;
  display: none;
}
</style>
